In [ ]:
##1.Code to reverse a string
string = "ahtihkiL"
reversed_string = ""
for i in range(len(string)-1, -1,-1):
    reversed_string += string[i]
print(reversed_string)

ahtihkiL

In [ ]:
##2.Count the NO.of Vowels
string = "Ramamohan"
vowels = "aeiouAEIOU"
count = 0
for char in string:
    if char in vowels:
        count += 1
print(count)

4

In [ ]:
#TO check whether the fiven string is palindrome or not
string = "Saraswathi"
is_palindrome = True
for i in range(len(string) // 2):
    if string[i] != string[len(string)- i-1]:
        is_palindrome = False
        break
print(is_palindrome)

False

In [ ]:
#TO check anagrams or not
string1 = "Data science"
string2 = "Data Structures"

if sorted(string1) == sorted(string2):
    print(True)
else:
    print(False)

False

In [ ]:
#5.To find the all the occurences of the given string
string = "Dasara and Navarathri celebrations"
substring = "ra"
positions = []
start = 0

while start < len(string):
    pos = string.find(substring, start)
    if pos == -1:
        break
    positions.append(pos)
    start = pos + 1

print(positions)

[4, 15, 27]

In [ ]:
#6.COde to perform basic string compressions
string = "Durgamatha"
compressed_string = ""
count = 1

for i in range(1, len(string)):
    if string[i] == string[i-1]:
        count += 1
    else:
        compressed_string += string[i-1] + str(count)
        count = 1
compressed_string += string[-1] + str(count)

print(compressed_string)

D1u1r1g1a1m1a1t1h1a1

In [ ]:
#7.To determine code have all unique characters
string = "Kaalika"
unique = True
char_set = set()

for char in string:
    if char in char_set:
        unique = False
        break
    char_set.add(char)

print(unique)

False

In [ ]:
#8.To convert case
string = "Data science"
uppercase_string = ""
lowercase_string = ""

# Convert to uppercase
for char in string:
    if 'a' <= char <= 'z':
        uppercase_string += chr(ord(char) - 32)
    else:
        uppercase_string += char
print(uppercase_string)

# Convert to lowercase
for char in string:
    if 'A' <= char <= 'Z':
        lowercase_string += chr(ord(char) + 32)
    else:
        lowercase_string += char
print(lowercase_string)

DATA SCIENCE
data science

In [ ]:
##Code to count the no.of words in a string
string = "celebrations began "
string=string.strip()
word_count = 0 # At least one word

for word in string:
    if word == " ":
        word_count += 1

print(word_count+1)

2

In [ ]:
#10.#Code to concatenate strings without using '+' operator
string1 = "Data science"
string2 = " is interesting"
concatenated_string = ""

# Concatenating string1
for char in string1:
    concatenated_string += char

# Concatenating string2
for char in string2:
    concatenated_string += char

print(concatenated_string)

Data science is interesting

In [ ]:
# 11.removes all occurrences of a specified element from the list.
fruits = ['apple', 'banana', 'apple', 'cherry', 'mango']
item_to_remove = 'apple'
result = []
for fruit in fruits:
    if fruit != item_to_remove:
        result.append(fruit)
print(result)  # ['banana', 'cherry', 'mango']

['banana', 'cherry', 'mango']

In [ ]:
## 12.This code finds the second largest number in a list of integers.
numbers = [12, 7, 9, 21, 14, 21]
first_largest = second_largest = float('-inf')
for num in numbers:
    if num > first_largest:
        second_largest = first_largest
        first_largest = num
    elif num > second_largest and num != first_largest:
        second_largest = num

print(second_largest)  # 14

14

In [ ]:
##13 Counts how many times each element appears in the list and stores the result in a dictionary.
animals = ['cat', 'dog', 'cat', 'elephant', 'dog', 'cat']
count_dict = {}

for animal in animals:
    if animal in count_dict:
        count_dict[animal] += 1
    else:
        count_dict[animal] = 1

print(count_dict)  # {'cat': 3, 'dog': 2, 'elephant': 1}

{'cat': 3, 'dog': 2, 'elephant': 1}

In [ ]:
##14.# To reverse the list in-place without using the built-in reverse function.
fruits = ['apple', 'banana', 'cherry', 'mango']
n = len(fruits)
for i in range(n // 2):
    fruits[i], fruits[n - i - 1] = fruits[n - i - 1], fruits[i]

print(fruits)  # ['mango', 'cherry', 'banana', 'apple']

['mango', 'cherry', 'banana', 'apple']

In [ ]:
##15.# To remove duplicates from the list while keeping the original order of elements.
animals = ['cat', 'dog', 'cat', 'elephant', 'dog']
seen = set()
unique_list = []

for animal in animals:
    if animal not in seen:
        unique_list.append(animal)
        seen.add(animal)

print(unique_list)  # ['cat', 'dog', 'elephant']

['cat', 'dog', 'elephant']

In [ ]:
#16.# To checks if the list is sorted in either ascending or descending order.
numbers = [3, 5, 7, 9]
ascending = True
descending = True

for i in range(1, len(numbers)):
    if numbers[i] < numbers[i - 1]:
        ascending = False
    if numbers[i] > numbers[i - 1]:
        descending = False

if ascending:
    print("List is sorted in ascending order")
elif descending:
    print("List is sorted in descending order")
else:
    print("List is not sorted")  # List is sorted in ascending order

List is sorted in ascending order

In [ ]:
#17.# To  merges two sorted lists into one sorted list.
list1 = [2, 5, 7]
list2 = [1, 3, 8]
merged_list = []
i = j = 0

while i < len(list1) and j < len(list2):
    if list1[i] < list2[j]:
        merged_list.append(list1[i])
        i += 1
    else:
        merged_list.append(list2[j])
        j += 1

# Append remaining elements
merged_list.extend(list1[i:])
merged_list.extend(list2[j:])

print(merged_list)  # [1, 2, 3, 5, 7, 8]

[1, 2, 3, 5, 7, 8]

In [ ]:
#18.# To find the intersection (common elements) of two lists.
list1 = ['cat', 'dog', 'rabbit']
list2 = ['dog', 'rabbit', 'elephant']
intersection = []

for item in list1:
    if item in list2:
        intersection.append(item)

print(intersection)  # ['dog', 'rabbit']

['dog', 'rabbit']

In [ ]:
# 19. To finds the union of two lists while removing duplicates.
list1 = ['apple', 'banana', 'cherry']
list2 = ['banana', 'mango', 'apple']
union = []

for item in list1 + list2:
    if item not in union:
        union.append(item)

print(union)  # ['apple', 'banana', 'cherry', 'mango']

['apple', 'banana', 'cherry', 'mango']

In [ ]:
#20
fruits = ['apple', 'banana', 'cherry', 'mango']
n = len(fruits)

for i in range(n):
    swap_index = (i * 3 + 1) % n
    fruits[i], fruits[swap_index] = fruits[swap_index], fruits[i]

print(fruits)

['apple', 'banana', 'cherry', 'mango']

In [ ]:
#21.# 21. To find common elements between two tuples.
tuple1 = ('carrot', 'tomato', 'potato', 'onion')
tuple2 = ('tomato', 'spinach', 'potato', 'cabbage')

common_elements = ()
for veg in tuple1:
    if veg in tuple2:
        common_elements += (veg,)

print(common_elements)  # ('tomato', 'potato')

('tomato', 'potato')

In [ ]:
# 22. To find the intersection of two sets of integers entered by the user.
set1 = set(map(int, input("Enter first set of numbers separated by commas: ").split(',')))
set2 = set(map(int, input("Enter second set of numbers separated by commas: ").split(',')))

intersection = set1 & set2

print(intersection)  # Example input: 1,2,3 for both sets -> {1, 2, 3}

Enter first set of numbers separated by commas: 23,46,98
Enter second set of numbers separated by commas: 67,89,45
set()

In [ ]:
# 23. To concatenate two tuples.
tuple1 = ('carrot', 'onion')
tuple2 = ('tomato', 'potato')

concatenated_tuple = tuple1 + tuple2

print(concatenated_tuple)

('carrot', 'onion', 'tomato', 'potato')

In [ ]:
# 24. To find elements present in the first set but not in the second set.
set1 = set(input("Enter the first set of strings separated by commas: ").split(','))
set2 = set(input("Enter the second set of strings separated by commas: ").split(','))

difference = set1 - set2

print(difference)

Enter the first set of strings separated by commas: hello,likki
Enter the second set of strings separated by commas: hello pw
{'likki', 'hello'}

In [ ]:
# 25. To return a new tuple containing elements from the original tuple within specified range of indices.
original_tuple = (10, 20, 30, 40, 50)
start_index = int(input("Enter the start index: "))
end_index = int(input("Enter the end index: "))

new_tuple = original_tuple[start_index:end_index]

print(new_tuple)

Enter the start index: 2
Enter the end index: 4
(30, 40)

In [ ]:
# 26. To print the union of two sets of characters.
set1 = set(input("Enter the first set of characters separated by commas: ").split(','))
set2 = set(input("Enter the second set of characters separated by commas: ").split(','))

union = set1 | set2

print(union)

Enter the first set of characters separated by commas: h,e,l,l,o,M.r.Shyam
Enter the second set of characters separated by commas: h,e,l,lo,Mr.,Booguulu
{'h', 'M.r.Shyam', 'Mr.', 'e', 'lo', 'l', 'o', 'Booguulu'}

In [ ]:
# 27. To return the maximum and minimum values from a tuple using tuple unpacking.
numbers = (10, 20, 30, 40, 50)

max_value = max(numbers)
min_value = min(numbers)

print("Maximum:", max_value, "Minimum:", min_value)

Maximum: 50 Minimum: 10

In [ ]:
# 28. To print the union, intersection, and difference of two sets of integers.
set1 = set(map(int, input("Enter the first set of integers separated by commas: ").split(',')))
set2 = set(map(int, input("Enter the second set of integers separated by commas: ").split(',')))

union = set1 | set2
intersection = set1 & set2
difference = set1 - set2

print("Union:", union)
print("Intersection:", intersection)
print("Difference:", difference)

Enter the first set of integers separated by commas: 1,2,3,4,5,6
Enter the second set of integers separated by commas: 9,10,3,6,11,2
Union: {1, 2, 3, 4, 5, 6, 9, 10, 11}
Intersection: {2, 3, 6}
Difference: {1, 4, 5}

In [ ]:
# 29. To return the count of occurrences of the given element in the tuple.
numbers = (10, 20, 30, 20, 40, 20)
element = int(input("Enter the element to count its occurrences: "))

count = 0
for num in numbers:
    if num == element:
        count += 1

print("Count of", element, ":", count)

Enter the element to count its occurrences: 209078
Count of 209078 : 0

In [ ]:
# 30. To print the symmetric difference of two sets.
set1 = set(input("Enter the first set of strings separated by commas: ").split(','))
set2 = set(input("Enter the second set of strings separated by commas: ").split(','))

symmetric_difference = set1 ^ set2

print(symmetric_difference)

Enter the first set of strings separated by commas: Hello,Prem
Enter the second set of strings separated by commas: Hello,Likhitha
{'Prem', 'Likhitha'}

In [ ]:
# 31. To return a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.
words = input("Enter a list of words separated by commas: ").split(',')
word_count = {}

for word in words:
    word = word.strip()
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

print(word_count)

Enter a list of words separated by commas: Hello World,Hello,This is likhitha,I am doing well,Hello How are you doing
{'Hello World': 1, 'Hello': 1, 'This is likhitha': 1, 'I am doing well': 1, 'Hello How are you doing': 1}

In [64]:
# 32. To merge two dictionaries and add values of common keys.
dict1 = {'car': 50000, 'bus': 100000, 'bike': 30000}
dict2 = {'bike': 15000, 'train': 200000, 'car': 20000}

merged_dict = dict1.copy()

for key, value in dict2.items():
    if key in merged_dict:
        merged_dict[key] += value
    else:
        merged_dict[key] = value

print(merged_dict)

{'car': 70000, 'bus': 100000, 'bike': 45000, 'train': 200000}

In [65]:
# 33. To access a value in a nested dictionary using a list of keys.
nested_dict = {
    'city': {'New York': 10, 'Los Angeles': 15},
    'tool': {'TensorFlow': 5, 'PyTorch': 8}
}
keys = ['tool', 'TensorFlow']

current = nested_dict
for key in keys:
    if key in current:
        current = current[key]
    else:
        current = None
        break

print(current)

5

In [67]:
# 34. To sort a dictionary by its values in ascending or descending order.
my_dict = {'laptop': 900, 'tractor': 30000, 'car': 20000, 'bus': 50000}
order = input("Enter 'asc' for ascending or 'desc' for descending: ")

sorted_dict = dict(sorted(my_dict.items(), key=lambda item: item[1], reverse=(order == 'desc')))

print(sorted_dict)

Enter 'asc' for ascending or 'desc' for descending: asc
{'laptop': 900, 'car': 20000, 'tractor': 30000, 'bus': 50000}

In [68]:
# 35. To invert a dictionary by swapping keys and values, handling cases with multiple keys having the same value.
my_dict = {'banana': 10, 'carrot': 20, 'broccoli': 10, 'spinach': 20}

inverted_dict = {}
for key, value in my_dict.items():
    if value in inverted_dict:
        inverted_dict[value].append(key)
    else:
        inverted_dict[value] = [key]

print(inverted_dict)

{10: ['banana', 'broccoli'], 20: ['carrot', 'spinach']}